.Characters{
    display: flex;
    background: auto;
    margin: 1rem;
    width: 100%;

 }

 .card-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
    width: 100%;
    text-align: justify ;
    

 }